<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homework">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.homework.main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.homework.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.homework.activity.GuideActivity" />
        <activity android:name="com.homework.activity.LoginActivity" />
        <activity android:name=".activity.StudentMainActivity" />
        <activity android:name=".activity.StudentInfoActivity" />
        <activity android:name=".activity.CourseInfoActivity" />
        <activity android:name=".activity.CourseDataFileListActivity" />

        <activity
            android:name="com.homework.activity.ShowCrashActivity"
            android:process=":show_crash" />

    </application>

</manifest>